@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

.btn:focus {
    outline: none !important;
    box-shadow: none;
}

#title {
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    margin-top: 10px;
}